{% extends "adminpanel/index.html" %}
{% block content %}
<script>
    alert({{messages}});
</script>
<div class="card card-primary">

            <div class="card-body" style="display: block;">
                <form method="post" action="users">
                    {% csrf_token %}
                    <table>
                    {% for elem in form %}
                    <div class="form-group">
                        <tr>
                            <td>
                                {{ elem.label}}
                            </td>

                            <td>
                                {{ elem }}
                            </td>
                        </tr>
                    </div>
                        {% endfor %}
                    </table>

            <input type="submit" value="Submit">
            </form>

            </div>
            <!-- /.card-body -->
</div>

        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Users</h3>

            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th>ID</th>
                  <th>EMail</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Staff</th>
                  <th>Status</th>
                </tr>
                {% for item in query_results %}
                 <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.email }}</td>
                     <td>{{ item.firstname }}</td>
                     <td>{{ item.lastname }}</td>
                     <td>{{ item.is_staff }}</td>
                     <td>{{ item.status }}</td>
                     <td>
                         <a href="{% url 'users_edit' id=item.id %}">
                             <input type="button" value="Edit">
                         </a>
                     </td>

                     <td>
                         <form method="post" action="users">
                             {% csrf_token %}
                             <input type ="hidden" name="id" value="{{item.id}}">
                             <input type ="hidden" name="delete" value="yes">
                             <input type="submit" value="Delete">
                         </form>
                     </td>


                </tr>
                {% endfor %}
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>



{% endblock %}